.App {
  text-align: center;
}

body {
  background-color: #F7FE72;
  display: flex;
  justify-content: center
}

.main-container {
  background-color: #585563;
  color: white;
  width: 650px;
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  padding-bottom: 20pt;
  border-radius: 8pt
}

.time {
  font-family: TickingTimebombBB;
  font-size: 32pt;
  margin-bottom: 5pt
}

.timeCountdown{
  font-family: TickingTimebombBB;
  font-size: 48pt;
  margin-bottom: 10pt
}

.controls {
  display: flex;
  justify-content: space-around
}

.description{
  width: 200px;
  word-wrap: break-word;
}

